* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	flex-direction: row-reverse;
	background: #be3144;
	width: 100vw;
	height: 4rem;
	box-shadow: 0 3px 0 rgb(0 0 0 / 50%);
	position: fixed;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	font-family: sans-serif;
	padding: 0;
	padding: 20px;
	font-size: 25px;
}

a {
	text-decoration: none;
	color: white;
}

nav ul li:hover {
	background: #45567d;
}

#welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #303841;
	width: 100vw;
	height: 100vh;
}

#welcome-section h1 {
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 6rem;
	font-family: sans-serif;
}

#welcome-section p {
	justify-content: center;
	align-items: center;
	color: #be3144;
	font-size: 3rem;
	font-family: sans-serif;
	font-style: italic;
}

#projects {
	width: 100vw;
	height: 100vh;
	background: #45567d;
	color: white;
	font-family: arial;
	display: flex;
	justify-content: center;
}

#projects h2 {
	text-decoration: underline 1px;
	font-size: 2rem;
	padding: 100px;
}

#contact {
	width: 100vw;
	height: 100vh;
	background: #303841;
	color: white;
	font-family: arial;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact h1 {
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 4rem;
	font-family: sans-serif;
}

#contact p {
	margin: 10px;
	font-style: italic;
}

@media (max-width: 28.75em) html {
	font-size: 55%;
}
